// main page
#mainCont {
  height: 100vh;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__cont {
  color: #fff;
  font-size: 10vw;
  line-height: 0.85;
  letter-spacing: -0.0275em;
  transition: all 2s;
  font-family: "Saol Display Regular";
  text-transform: uppercase;
}

.main__cont > div {
  opacity: 0;
  transform: translateY(100px);
}
 
// about page
#aboutCont {
  background-color: #f0eeeb;
}
.about__cont {
  opacity: 0;
  transform: translateY(100px);
}

.about__cont .about {
  padding-bottom: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.about__cont .about:nth-child(1) .about-img {
  flex: 0 0 100%;
}
.about__cont .about:nth-child(1) .about-txt {
  flex: 0 0 100%;
}
.about__cont .about:nth-child(1) .about-txt h2 {
  margin-top: 2em;
}
.about__cont .about:nth-child(2) .about-img {
  flex: 0 0 64%;
}
.about__cont .about:nth-child(2) .about-txt {
  flex: 0 0 30%;
}
.about__cont .about:nth-child(3) {
  flex-direction: row-reverse;
}
.about__cont .about:nth-child(3) .about-img {
  flex: 0 0 54%;
}
.about__cont .about:nth-child(3) .about-txt {
  flex: 0 0 40%;
}
.about__cont .about .about-txt {
  font-family: "Chosunilbo_myungjo";
}
.about__cont .about .about-txt h2 {
  margin: 0 0 1em;
  font-size: 1.625rem;
}
.about__cont .about .about-txt p {
  line-height: 1.6;
  font-size: 16px;
}

// script page
#scriptCont {
  background-color: #f0eeeb;
}
.script__cont {
  padding-bottom: 200px;
  opacity: 0;
  transform: translateY(100px);
}

// portfolio page
#portCont {}
.port__cont {}

// reference page
#referCont {
  background-color: #f0eeeb;
}
.refer__cont {
  opacity: 0;
  transform: translateY(50px);
  padding-bottom: 200px;
}
.refer__cont .refer-title li {
  display: inline;
  font-family: "Rajdhani";
}
.refer__cont .refer-title li a {
  font-size: 1.2rem;
  display: inline-block;
  padding: 0.5rem 2rem;
  border: 1px solid #222;
  border-radius: 5px;
  margin-bottom: 1rem;
  margin-right: 10px;
}
.refer__cont .refer-title li.active a {
  background: #000;
  color: #fff;
}
.refer__cont .refer__table {
  border-bottom: 2px solid #000;
  margin-top: 1.2rem;
}
.refer__cont .refer__table h3 {
  padding-bottom: 10px;
}
.refer__cont .refer__table li {
  margin: 0;
  list-style: none;
  border-top: 1px solid #000;
  position: relative;
  transition: all 0.3s;
}
.refer__cont .refer__table li:hover {
  background: rgba(0, 0, 0, 0.081);
}
.refer__cont .refer__table li span {
  display: inline-block;
  padding: 25px 10px;
  font-size: 14px;
  font-family: "S-CoreDream-3Light";
  box-sizing: border-box;
}
.refer__cont .refer__table li span.alpha {
  position: absolute;
  left: 0;
  top: 0;
}
.refer__cont .refer__table li span.attr {
  padding-left: 10%;
  width: 35%;
}
.refer__cont .refer__table li span.desc {
  width: 64.5%;
}

// referDetail page
.refer__detail {
  font-family: "S-CoreDream-3Light";
  
  h3 {
    padding-bottom: 10px;
    font-size: 30px;
  }
  div {
    margin: 2rem;
  }
}


// youtube page
#youCont {}
.you__cont {}

// contact page
#contactCont {}
.contact__cont {}