// main page
#mainCont {
  height: 100vh;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__cont {
  color: #fff;
  font-size: 10vw;
  line-height: 0.85;
  letter-spacing: -0.0275em;
  transition: all 2s;
  font-family: "Saol Display Regular";
  text-transform: uppercase;
}

.main__cont > div {
  opacity: 0;
  transform: translateY(100px);
}
 
// about page
#aboutCont {
  background-color: #f0eeeb;
}
.about__cont {
  opacity: 0;
  transform: translateY(100px);
}

.about__cont .about {
  padding-bottom: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.about__cont .about:nth-child(1) .about-img {
  flex: 0 0 100%;
}
.about__cont .about:nth-child(1) .about-txt {
  flex: 0 0 100%;
}
.about__cont .about:nth-child(1) .about-txt h2 {
  margin-top: 2em;
}
.about__cont .about:nth-child(2) .about-img {
  flex: 0 0 64%;
}
.about__cont .about:nth-child(2) .about-txt {
  flex: 0 0 30%;
}
.about__cont .about:nth-child(3) {
  flex-direction: row-reverse;
}
.about__cont .about:nth-child(3) .about-img {
  flex: 0 0 54%;
}
.about__cont .about:nth-child(3) .about-txt {
  flex: 0 0 40%;
}
.about__cont .about .about-txt {
  font-family: "Chosunilbo_myungjo";
}
.about__cont .about .about-txt h2 {
  margin: 0 0 1em;
  font-size: 1.625rem;
}
.about__cont .about .about-txt p {
  line-height: 1.6;
  font-size: 16px;
}

// script page
#scriptCont {
  background-color: #f0eeeb;
}
.script__cont {
  padding-bottom: 200px;
  opacity: 0;
  transform: translateY(100px);
}

// portfolio page
#portCont {}
.port__cont {}

// reference page
#referCont {
  background-color: #f0eeeb;
}
.refer__cont {
  padding-bottom: 200px;
  opacity: 0;
  transform: translateY(100px);
}

// youtube page
#youCont {}
.you__cont {}

// contact page
#contactCont {}
.contact__cont {}